body {
    background-color: rgb(250,250,250);
    color: rgb(38,38,38);
    margin: 0px;
    padding-top: 100px;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    width: 100%;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(218, 217, 217);
}

.header .container {
    padding: 8px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 75px;
}

.header .nav-links {
    color: black;
    font-size: 20px;
}

.header .search-bar {
    display: inline-block;
    margin-right: 400px;
    /* margin-left: auto; */
    height: 100px;
    width: 200px;
}

.search-bar input[type=text] {
    text-align: center;
    padding: 8px 40px;
    margin: 30px 0;
    border: 2px solid rgb(218,217,217);
    color: rgb(77,77,77)
}

.content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-title {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.noticias {
    text-align: center;
}

.noticias img {
    width: 50%;
    padding-top: 10px;
}

.noticia1 {
    float: left;
    width: 33%;
    border-right: 1px solid black;
}

.noticia2 {
    float: left;
    width: 33%;
    border-right: 1px solid black;
}

.noticia3 {
    float: left;
    width: 33%;
}

.sobre {
    padding-top: 275px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
    text-align: center;
}

